{# Vars #}

{% def class = '' %}
{% def title = '' %}
{% def items = [] %}

{# Template #}

<div class="tags">
	<div v-flux="default">
		<h2 class="title" v-font="title_1">
			{{ title|strip }}
		</h2>
		<div class="items">
			{% for item in items %}
				<span class="item">{{ item.text }}</span>
			{% endfor %}
		</div>
	</div>
</div>
