{# Vars #}

{% def langs = [] %}
{% def class = '' %}

{# Template #}

<div class="langs {{ class }}" data-wg-notranslate>
	<div class="items">
		{% for lang in langs.available %}
			<a class="item"
				v-font="body_3"
				href="{{ lang.url }}"
				v-barba-prevent="self"
				data-wg-notranslate
				aria-current="{{ lang.is_current|bool }}">
				{{ lang.code }}
			</a>
		{% endfor %}
	</div>
</div>
