{% def class = '' %}
{% def preset = false %}

<button class="close {{ class }}">
	{# {% include 'atoms/icon' with {
		icon: 'defaults/close'
	} %} #}

	<div class="cross">
		<i class="bar"></i><i class="bar"></i>
	</div>
</button>
