@import "../../core/imports.scss";

:root {
	--close_size: 4.8rem;
	--close_color: var(--body);
	--close_background: var(--text);
}

.close {
	@include rect(var(--close_size));

	display: flex;
	border-radius: var(--radius);
	align-items: center;
	justify-content: center;
	@include transition();
}

.cross {
	@include rect(3rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

.bar {
	position: absolute;
	width: 3px;
	height: 18px;
	background: blue;
}

.bar:nth-child(1) {
	transform: rotate(45deg);
}

.bar:nth-child(2) {
	transform: rotate(-45deg);
}
