// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.media {
	display: block;
	position: relative;

	&:not([fit]) {
		@include aspect-ratio(var(--ratio));
	}

	.image,
	.svg,
	.video {
		position: absolute;
		inset: 0;
		height: 100%;
	}

	&[fit="cover"] .image,
	&[fit="cover"] .svg,
	&[fit="cover"] .video {
		object-fit: cover;
	}

	&[fit="contain"] .image,
	&[fit="contain"] .svg,
	&[fit="contain"] .video {
		object-fit: contain;
	}
}
