// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.cards {
	padding-top: var(--spacing_default);
	padding-bottom: var(--spacing_default);
}

.title {
	margin-bottom: var(--spacing_default);
}

.subtitle {
	margin-top: var(--spacing_small);
	margin-bottom: var(--spacing_default);
}

.caption {
	display: flex;
	margin-bottom: 2.4rem;
	width: 500rem;
	color: rgb(var(--grey500));
}

.items {
	display: grid;
	gap: 2.4rem;

	@media (min-width: #{$phone + 1px}) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $phone) {
		gap: 0.8rem;
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	@media (max-width: $phone) {
		gap: 0.8rem;
	}
}

.complex,
.simple {
	position: relative;
	padding: 4rem;
	border-radius: var(--radius_medium);

	@media (max-width: $phone) {
		padding: 2.4rem;
	}
}

.complex {
	background: rgb(var(--white));
	color: rgb(var(--black));
	@media (min-width: #{$tablet + 1px}) {
		flex-grow: 1;
	}
}

.simple {
	border: 2px solid rgb(var(--grey600));
}

.tags {
	display: flex;
	gap: 0.4rem;
	margin-bottom: 0.8rem;
}

.tag {
	display: inline-flex;
	height: 3rem;
	background: rgb(var(--grey100));
	color: rgba(var(--grey600));
	padding: 0.4rem 1.2rem;
	border-radius: 1.5rem;
}

.card_title {
	display: flex;
}

.card_text {
	display: flex;
	margin-top: 4rem;
	color: rgb(var(--grey600));
}

.info {
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;

	&:hover {
		--icon_fill: var(--white);
	}
}
