@use "sass:math";

// No CSS output!
// SCSS Variables only

// Breakpoints
// If a new size is added it must also be added to the breakpoints.

$laptop-target: 1440px; // Set to size of design files
$phone-target: 375px; // Set to size of design files

$max: 1600px; // responsivness stops above this window size
$laptop: 1440px;
$notebook: 1024px;
$tablet: 768px;
$phablet: 600px;
$phone: 414px;

// Enable or disable as needed
// More breakpoints = larger css file

// do not remove laptop !

$breakpoints: (
	laptop: $laptop,
	tablet: $tablet,
	phone: $phone,
);

// Other variables
// Use CSS Variables in root.scss
