@use "../core/utils";

// convert fonts
// https://transfonter.org/

// Weight guide

// 100 thin
// 200 extra-light
// 300 light
// 400 regular
// 500 medium
// 600 semi-bold
// 700 bold
// 800 extra-bold
// 900 black

// Examples

$dir: "../assets/fonts/";
$karla: $dir + "karla/karla";

// Karla

@include utils.font-face("Karla", $karla + "-regular", 400, normal);
@include utils.font-face("Karla", $karla + "-italic", 400, italic);
