// No CSS output!
// SCSS Mixins only

@mixin input-label {
	display: flex;
	margin-bottom: 0.6rem;
	@include label-1;
}

@mixin input-field($type: select) {
	display: inline-flex;
	flex-direction: column;

	.label {
		@include input-label;
	}

	.field {
		// @include label-4;
		display: inline-flex;
		align-items: center;
		height: var(--input_height);

		border: var(--input_border_width) solid;
		border-radius: 4px;

		color: rgb(var(--input_color));
		background: rgba(var(--input_background));
		border-color: rgb(var(--input_border));

		@media (max-width: $phone) {
			font-size: 1.8rem;
		}
	}

	.field:hover {
		color: rgb(var(--input_hover_color));
		background: rgba(var(--input_hover_background));
		border-color: rgb(var(--input_hover_border));
	}

	&[disabled] .field {
		opacity: 0.2;
	}

	&[disabled] .area {
		cursor: not-allowed;
	}

	.area {
		height: 100%;
		padding-left: var(--input_padding);
		padding-right: var(--input_padding);
		flex-shrink: 1;
		width: 100%;
		background: transparent;
		color: currentColor;
	}

	.area::placeholder {
		color: rgba(var(--text), 0.3);
	}

	.area:focus {
		outline: none;
	}

	&[aria-invalid="true"] .field {
		outline: var(--focus);
		outline-color: rgb(var(--error));
	}

	&[focused] .field {
		outline: var(--focus);
	}
}

@mixin corner-clip($size, $offset: -1px) {
	// background: red;
	clip-path: polygon(
		$offset $offset,
		$offset $size,
		calc(100% - $offset) $size,
		calc(100% - $offset) $offset,
		calc(100% - $size) $offset,
		calc(100% - $size) calc(100% - $offset),
		calc(100% - $offset) calc(100% - $offset),
		calc(100% - $offset) calc(100% - $size),
		$offset calc(100% - $size),
		$offset calc(100% - $offset),
		$size calc(100% - $offset),
		$size $offset
	);
}
