@import "../../core/imports.scss";

.popin {
	position: fixed;
	z-index: 210;
	inset: 0;

	&[aria-hidden="true"] {
		pointer-events: none;
		visibility: hidden;
	}

	.close {
		position: absolute;
		top: 0rem;
		z-index: 100;
	}

	.content {
		max-height: 100%;
	}
}
