@import "../../core/imports.scss";

.home {
	.title {
		display: inline;
		padding: 0.15em 0.3em;
		background-color: rgb(var(--black));
		color: white;

		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		// filter: url("#instagram");
	}

	.image {
		width: 100%;
		height: 50rem;
	}
}
