{% extends 'layouts/layout.twig' %}
{% block content %}
	<main class="contact"
		v-barba="container"
		v-barba-namespace="contact"
		v-scroll="main"
		data-ancestor=""
		data-id="">
		<div v-flux="default" class="cover">
			<h1 v-font="title_1" class="title">
				{{ post.title|strip }}
			</h1>
			<p v-font="body_1">
				{{ fields.cover.intro|strip }}
			</p>
		</div>

		{% include 'modules/contact-form' with fields.form %}
	</main>
{% endblock %}
