{# Vars #}

{% def class = '' %}
{% def success = 'Merci, Vous êtes enregisté.e'|translate %}
{% def error = "Une erreur s'est produite"|translate %}

{# Template #}

<v-module class="newsletter {{ class }}"
	data-error-message="{{ error }}"
	data-success-message="{{ success }}">
	<form class="form">
		{% embed 'atoms/input'
			with {
				class: 'input',
				placeholder: "S'inscrire à la newsletter"|translate,
				name: 'email',
				is_required: true
			}
		%}
			{% block after %}
				{% include 'atoms/icon-button' with {
					type: 'submit',
					class: 'submit',
					title: "S'abonner"|translate,
					icon: 'icons/arrow-right'
				} %}

				{% embed 'atoms/icon-button'
					with {
						type: 'button',
						class: 'spinner',
						title: 'Loading'|translate
					}
				%}
					{% block content %}
						{% include 'atoms/spinner' %}
					{% endblock %}
				{% endembed %}
			{% endblock %}
		{% endembed %}
	</form>
</v-module>
