@import "../../core/imports.scss";

:root {
	--button_height: 4.8rem;
	--button_padding: 3.2rem;
	--button_small_height: 3.2rem;
	--button_small_padding: 1.4rem;
	--button_color: var(--white);
	--button_background: var(--black);
	--button_border: var(--black);
	// --button_hover_color: var(--white);
	// --button_hover_background: var(--black);
	// --button_hover_border: var(--black);
}

// Styles

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: fit-content;

	border: 0px solid transparent;
	border-radius: var(--radius_medium);

	color: rgb(var(--button_color));
	background: rgba(var(--button_background));
	// border-color: rgb(vars(--button_border, --black));

	&[size="default"] {
		min-height: var(--button_height);
		padding-left: var(--button_padding);
		padding-right: var(--button_padding);
	}

	&[size="small"] {
	}

	&[variant="outline"] {
	}

	&:hover {
		color: rgb(var(--button_hover_color));
		background: rgba(var(--button_hover_background));
		// border-color: rgb(vars(--button_hover_border, --dark_grey));
	}

	&:disabled {
		opacity: 0.2;
	}

	&[rel="external"] {
		// External link
	}

	&[size="small"] {
		min-height: var(--button_small_height);
		padding-left: var(--button_small_padding);
		padding-right: var(--button_small_padding);
	}

	.text {
		display: inline-flex;
		align-items: center;

		height: 100%;
		width: auto;
		text-align: center;
		white-space: nowrap;

		@include transition;
	}

	.icon_left {
		margin: 0 7px 0 -5px;
	}

	.icon {
		margin: 0 -5px 0 7px;
	}

	.icon_left,
	.icon {
		--icon_fill: var(--button_color);
	}

	&:hover .icon_left,
	&:hover .icon {
		--icon_fill: var(--button_hover_color);
	}
}
