{% extends 'layouts/layout.twig' %}
{% block content %}
	<main class="home"
		v-barba="container"
		v-barba-namespace="page"
		v-scroll="main"
		data-ancestor="{{ ancestor_id }}"
		data-id="{{ id }}">
		{# {% include 'blocks/test' with {
			title: post.title,
			pad: 'default',
			font: 'body_4',
			gallery: fields.gallery
		} %} #}

		{% include 'blocks/form-fields' with {
			margin: 'default'
		} %}

		{% include 'plugins/example' %}
	</main>
{% endblock %}
