@import "../../core/imports.scss";

.anchors {
	position: relative;
	z-index: 20;
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;
}

.items {
	padding: 0.4rem;
	background: rgb(var(--black));
	color: rgb(var(--white));
	// border-radius: 2.4rem;
	display: inline-flex;
}

.item {
	height: 3.8rem;
	padding: 0.5rem 2.4rem;
	// border-radius: 1.9rem;
	// background: rgb(var(--black50));
}

.item[aria-selected="true"] {
	background: rgb(var(--success));
}
