// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.anchors {
	position: relative;
	z-index: 20;
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;
}

.items {
	padding: 0.4rem;
	background: rgb(var(--black));
	color: rgb(var(--white));
	// border-radius: 2.4rem;
	display: inline-flex;
}

.item {
	height: 3.8rem;
	padding: 0.5rem 2.4rem;
	// border-radius: 1.9rem;
	// background: rgb(var(--black50));
}

.item[aria-selected="true"] {
	background: rgb(var(--success));
}
