{# Vars #}

{% def class = '' %}
{% def input_class = false %}
{% def label = '' %}
{% def name = false %}
{% def value = false %}
{% def placeholder = '' %}
{% def anim = false %}
{% def delay = false %}
{% def is_required = false %}
{% def is_disabled = false %}
{% def is_readonly = false %}
{% def autocomplete = 'new-password' %}
{% def preset = false %}
{% def font = 'body_4' %}

{# Template #}

<div class="password {{ class }}" {{ attr('v-preset', preset) }}>
	{% embed 'atoms/input'
		with {
			label: label,
			name: name,
			value: value,
			type: 'password',
			placeholder: placeholder,
			is_required: is_required,
			is_disabled: is_disabled,
			autocomplete: autocomplete,
			font: font
		}
	%}
		{% block after %}
			<button class="toggle"
				type="button"
				aria-label="{{ 'Afficher/cacher'|translate }}">
				{% include 'atoms/icon' with {
					class: 'icon',
					icon: 'defaults/eye'
				} only %}
				{% include 'atoms/icon' with {
					class: 'icon',
					icon: 'defaults/eye-off'
				} only %}
			</button>
		{% endblock %}
	{% endembed %}
</div>
