{# Vars #}

{% def title = '' %}
{% def margin = '' %}
{% def padding = '' %}

{# Template #}

<section class="cover"
	{{ attr('v-margin', margin) }}
	{{ attr('v-padding', padding) }}>
	<div v-flux="default">
		<h1 v-font="title_1">
			{{ title|strip }}
		</h1>
	</div>
</section>
