@import "../../core/imports.scss";

.quantity {
	display: inline-flex;

	.more,
	.less {
		height: 4.8rem;
		min-width: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		color: rgb(var(--button_color));
		background: rgb(var(--button_background));
		border-color: rgb(var(--button_border));

		&:hover {
			color: rgb(var(--button_hover_color));
			background: rgb(var(--button_hover_background));
			border-color: rgb(var(--button_hover_border));
		}

		&:disabled {
			color: rgb(var(--button_disabled_color));
			background: rgb(var(--button_disabled_background));
			border-color: rgb(var(--button_disabled_border));
		}
	}

	.field {
		width: 3rem;
		text-align: center;
		color: rgb(var(--input_color));
	}
}
