{# Vars #}

{% def class = '' %}
{% def margin = '' %}
{% def padding = '' %}

{# Template #}

<section class="footer {{ class }}"
	{{ attr('v-margin', margin) }}
	{{ attr('v-padding', padding) }}>
	{#  #}
</section>
