{# Vars #}

{% def text = '' %}

{# Template #}

<div class="cookie_banner">
	{# <button class="close" aria-label="{{ 'Fermer'|translate }}"></button> #}

	<div class="content">
		<span class="text">
			{{ text }}
			{% include 'atoms/link' with {
				url: urls.privacy.url,
				title: 'En savoir plus'|translate
			} %}
		</span>
		<div class="buttons">
			{# {% include 'atoms/button' with {
				class: 'refuse',
				title: 'Refuser'|translate
			} %} #}

			{% include 'atoms/button' with {
				class: 'params',
				title: 'Paramétrer'|translate,
				icon: 'icons/arrow-right-up'
			} %}

			{% include 'atoms/button' with {
				class: 'accept',
				title: 'Accepter'|translate,
				icon: 'icons/arrow-right-up'
			} %}
		</div>
	</div>
</div>
