@import "../../core/imports.scss";

.cookie_banner {
	position: absolute;

	z-index: 200;
	background: rgb(var(--text));
	color: rgb(var(--body));
	padding: 1.8rem 4rem;

	@include column-gap(2rem);
	align-items: center;

	@include transition(var(--timing), var(--ease)-out, transform, visibility);

	@media (min-width: #{$phone + 1px}) {
		bottom: 3.8rem;
		left: 3.8rem;
	}

	@media (max-width: $phone) {
		width: calc(100% - 4rem);
		bottom: 2rem;
		left: 2rem;
	}

	&[aria-hidden="true"] {
		transform: translateX(-100%) translateX(-5rem);
		visibility: hidden;
	}

	&[data-pending="true"] {
		display: none;
	}

	.content {
		@include column-gap(2rem);
	}

	.buttons {
		@include column-gap(2rem);
	}

	.close {
		@include rect(3.4rem);
		background: red;
	}
}
