// Core

@use "../core/responsive.scss" as *;
@use "../core/flux.scss" as *;
@use "../core/columns.scss" as *;
@use "../core/spacings.scss" as *;
@use "../core/utils.scss" as *;

// Theme

@use "../theme/breakpoints.scss" as *;
@use "../theme/variables.scss" as *;
@use "../theme/mixins.scss" as *;
@use "../theme/typography.scss" as *;

$top: 7rem;
$bottom: 2.4rem;
$left: 36.8rem;
$right: 2.4rem;

.layout {
}

main {
	padding: $top $right $bottom $left;
}

.frame {
	position: absolute;
	inset: 0;
	background: rgba(var(--white));

	clip-path: polygon(
		0% 0%,
		0% 100%,
		$left 100%,
		$left $top,
		calc(100% - $right) $top,
		calc(100% - $right) calc(100% - $bottom),
		$left calc(100% - $bottom),
		$left 100%,
		100% 100%,
		100% 0%
	);
}
