<!DOCTYPE html>
<html lang="{{ langs.current }}">
	{% include 'core/head' with head|merge({
		allow: ['app-css', 'app-js'],
		dequeue: [
			'wp-block-library-css',
			'safe-svg-svg-icon-style-inline-css',
			'classic-theme-styles-inline-css',
			'global-styles-inline-css'
		]
	}) %}

	<body>
		{% include 'onces/admin-widget' %}
		{% include 'onces/loader' %}
		{% include 'onces/header' %}
		{% include 'onces/cookie-banner' with cookie_banner %}
		{% include 'onces/cookie-options' with cookie_options %}
		{% include 'onces/menu' with menu %}

		{% include 'atoms/scrollbar' with {
			is_main: true
		} %}

		<div class="layout" v-barba="wrapper">
			{% block content %}
				{# Page content #}
			{% endblock %}
		</div>
	</body>

	{% include 'core/foot' with foot|merge({
		api: api,
		allow: [],
		dequeue: []
	}) %}
</html>
