// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

:root {
	--video_ratio: 1.788;
}

.video {
	display: block;
	overflow: hidden;
	position: relative;

	&:not([fit]) {
		@include aspect-ratio(var(--video_ratio));
	}

	.source {
		inset: 0;
		position: absolute;
		height: 100%;
	}

	&[fit="cover"] .source {
		object-fit: cover;
	}

	&[fit="contain"] .source {
		object-fit: contain;
	}

	.cover {
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	.cover[aria-hidden="true"] {
		opacity: 0;
		pointer-events: none;
	}

	.source {
		margin-left: -1px;
		margin-right: -1px;
		margin-top: -200px;
		margin-bottom: -200px;
		@include rect(calc(100% + 2px), calc(100% + 400px));
	}

	.overlay {
		position: absolute;
		inset: 0;
		background: rgba(var(--text), 0.2);
		@include transition;
	}

	.overlay[aria-hidden="true"] {
		opacity: 0;
	}

	.play {
		position: absolute;
		inset: 0;
		margin: auto;
		@include transition;
		border: none;
		z-index: 2;
	}

	.play:hover,
	.cover:hover ~ .play {
		//
	}

	.play[aria-hidden="true"] {
		opacity: 0;
		transform: scale(0.7);
	}

	.controls {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(var(--text), 0.5);
		padding: 1rem 2rem;
		display: flex;
		@include transition;
	}

	.controls[aria-hidden="true"] {
		opacity: 0;
	}

	.progress {
		width: 100%;
		height: 2.4rem;
	}

	.progress[value]::-webkit-progress-bar {
		background: linear-gradient(
			rgba(var(--body), 0) 0%,
			rgba(var(--body), 0) 40%,
			rgba(var(--body), 0.2) 40%,
			rgba(var(--body), 0.2) 60%,
			rgba(var(--body), 0) 60%,
			rgba(var(--body), 0) 100%
		);
	}

	.progress[value]::-webkit-progress-value {
		background: linear-gradient(
			rgba(var(--body), 0) 0%,
			rgba(var(--body), 0) 40%,
			rgba(var(--body), 1) 40%,
			rgba(var(--body), 1) 60%,
			rgba(var(--body), 0) 60%,
			rgba(var(--body), 0) 100%
		);
	}
}
