// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

:root {
	--label_background: var(--beige);
	--label_color: var(--black);
}

// Styles

.label {
	display: inline-flex;
	padding: 0.7rem 1.5rem 0.3rem;
	background: rgb(var(--label_background));
	min-height: 3rem;
	border-radius: 1.5rem;
	justify-content: center;
	text-align: center;

	// Presets

	// [v-preset="purple"] {
	// 	--label_background: var(--purple);
	// }

	// [v-preset="white"] {
	// 	--label_background: var(--white);
	// }

	.title {
	}
}
