{# Vars #}

{% def class = '' %}
{% def title = '' %}
{% def preset = false %}

{# Template #}

<div class="label {{ class }}" {{ attr('v-preset', preset) }}>
	<span class="title" v-font="label_3">{{ title|raw }}</span>
</div>
