@use "sass:math";

/* Convert colors to rgb */

@each $key, $value in $colors {
	$colors: map-set(
		$colors,
		$key,
		red($value) + ", " + green($value) + ", " + blue($value)
	);
}

/* CSS variables */

$root: map-merge($colors, $gutters);
$root: map-merge($root, $spacings);
$root: map-merge($root, $fluxs);
$root: map-merge($root, $timings);
$root: map-merge($root, $easings);
$root: map-merge($root, $extra);
$root: map-merge($root, $breakpoints);

:root {
	@each $key, $values in $root {
		// If values is a list
		@if length($values) != 1 {
			// Save last used value in list
			$last-value: nth($values, 1);
			// For all breakpoints
			@include breakpoints {
				// Max size
				@if ($break-index == 0) {
					--#{"" + $key}: #{nth($values, 1)};
					$last-value: nth($values, 1);
				}
				// All other breakpoints
				@else {
					// If now value for breakpoitn use last-value
					@if $break-index <= length($values) {
						--#{"" + $key}: #{nth($values, $break-index)};
						// Save last used value in list
						$last-value: #{nth($values, $break-index)};
					}
					// Use value based on breakpoint index
					@else {
						--#{"" + $key}: #{$last-value};
					}
				}
			}
		}
		// Values is not a list, use as is
		@else {
			--#{"" + $key}: #{$values};
		}
	}
}

html {
	@include breakpoints {
		@if ($break-index == 0) {
			// Max breakpoint
			font-size: math.div($max, $laptop-target) * 10px;
		} @else if($break-index > length($breakpoints) - 1) {
			@debug $break-value;
			// Last Breakpoint
			font-size: math.div(1000, strip-unit($phone-target)) * 1vw;
		} @else {
			// Breakpoint or window height
			font-size: #{"min" }(1.3vh, math.div(1000, strip-unit($break-value)) * 1vw);
		}
	}
}

body {
	@include body-2(null);
	background: rgb(var(--body));
	color: rgb(var(--text));
}

/* Yell */

[v-font*="yell_1"] {
	@if mixin-exists(yell-1) {
		@include yell-1(null);
	}
}

[v-font*="yell_2"] {
	@if mixin-exists(yell-2) {
		@include yell-2(null);
	}
}

[v-font*="yell_3"] {
	@if mixin-exists(yell-3) {
		@include yell-3(null);
	}
}

[v-font*="yell_4"] {
	@if mixin-exists(yell-4) {
		@include yell-4(null);
	}
}

[v-font*="yell_5"] {
	@if mixin-exists(yell-5) {
		@include yell-5(null);
	}
}

/* Titles */

[v-font*="title_1"] {
	@if mixin-exists(title-1) {
		@include title-1(null);
	}
}

[v-font*="title_2"] {
	@if mixin-exists(title-2) {
		@include title-2(null);
	}
}

[v-font*="title_3"] {
	@if mixin-exists(title-3) {
		@include title-3(null);
	}
}

[v-font*="title_4"] {
	@if mixin-exists(title-4) {
		@include title-4(null);
	}
}

[v-font*="title_5"] {
	@if mixin-exists(title-5) {
		@include title-5(null);
	}
}

/* Labels */

[v-font*="label_1"] {
	@if mixin-exists(label-1) {
		@include label-1(null);
	}
}

[v-font*="label_2"] {
	@if mixin-exists(label-2) {
		@include label-2(null);
	}
}

[v-font*="label_3"] {
	@if mixin-exists(label-3) {
		@include label-3(null);
	}
}

[v-font*="label_4"] {
	@if mixin-exists(label-4) {
		@include label-4(null);
	}
}

[v-font*="label_5"] {
	@if mixin-exists(label-5) {
		@include label-5(null);
	}
}

/* Body */

[v-font*="body_1"] {
	@if mixin-exists(body-1) {
		@include body-1(null);
	}
}

[v-font*="body_2"] {
	@if mixin-exists(body-2) {
		@include body-2(null);
	}
}

[v-font*="body_3"] {
	@if mixin-exists(body-3) {
		@include body-3(null);
	}
}

[v-font*="body_4"] {
	@if mixin-exists(body-4) {
		@include body-4(null);
	}
}

[v-font*="body_5"] {
	@if mixin-exists(body-5) {
		@include body-5(null);
	}
}

[v-font*="body_6"] {
	@if mixin-exists(body-6) {
		@include body-6(null);
	}
}

[v-font*="body_7"] {
	@if mixin-exists(body-7) {
		@include body-7(null);
	}
}

/* Fluxs */

[v-flux*="max"] {
	// based on largest breakpoint
	@include flux(math.div(strip-unit($laptop-target), 10) + "rem", 0rem);
}

@each $key, $value in $fluxs {
	$name: str-replace($key, "flux_", "");
	$name: str-replace($name, "-", "_");
	[v-flux*="#{$name}"] {
		@include flux(var(--#{$key}));
	}
}

/* Spacings */

@each $key, $value in $spacings {
	$size: str-replace($key, "spacing_", "");
	$size: str-replace($size, "-", "_");

	[v-margin="#{$size}"] {
		margin-top: var(--#{$key});
		margin-bottom: var(--#{$key});
	}

	[v-margin*="top_#{$size}"] {
		margin-top: var(--#{$key});
	}

	[v-margin*="bottom_#{$size}"] {
		margin-bottom: var(--#{$key});
	}

	[v-padding="#{$size}"] {
		padding-top: var(--#{$key});
		padding-bottom: var(--#{$key});
	}

	[v-padding*="top_#{$size}"] {
		padding-top: var(--#{$key});
	}

	[v-padding*="bottom_#{$size}"] {
		padding-bottom: var(--#{$key});
	}
}

*:focus:not(:active) {
	outline: var(--focus);
}

::selection {
	background: rgb(var(--selection));
	text-shadow: none;
}

::-moz-selection {
	background: rgb(var(--selection));
	text-shadow: none;
}
