{# Vars #}

{% def class = '' %}

{# Template #}

<div class="nav_buttons {{ class }}">
	{% include 'atoms/nav-button' with {
		class: 'previous',
		orientation: 'left'
	} %}
	{% include 'atoms/nav-button' with {
		class: 'next',
		orientation: 'right'
	} %}
</div>
