// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.cookie_banner {
	position: absolute;

	z-index: 100;
	background: rgb(var(--text));
	color: rgb(var(--body));

	@include transition(var(--timing), var(--ease)-out, transform, visibility);

	@media (min-width: #{$phone + 1px}) {
		left: calc(var(--frame_right) + 1.6rem);
		right: calc(var(--frame_right) + 1.6rem);
		bottom: calc(var(--frame_bottom) + 1.6rem);
		padding: 2.4rem 3.2rem;
	}

	@media (max-width: $phone) {
		left: calc(var(--frame_right) + 0.8rem);
		right: calc(var(--frame_right) + 0.8rem);
		bottom: calc(var(--frame_bottom) + 0.8rem);
		padding: 2.4rem;
	}

	&[hidden] {
		transform: translateX(-100%) translateX(-5rem);
		visibility: hidden;
	}

	&[data-pending="true"] {
		display: none;
	}
}

.accept {
	--button_color: var(--white);
	--button_background: var(--black);
	--button_border: var(--black);
	--button_hover_color: var(--black);
}

.params {
	--button_color: var(--black);
	--button_background: 0, 0, 0, 0;
	--button_border: var(--black);
	--button_hover_color: var(--black);
}

.text {
	max-width: 83.1rem;
}

.content {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;

	@media (max-width: $phone) {
		flex-direction: column;
	}
}

.buttons {
	display: flex;
	gap: 2rem;
}

.close {
	@include rect(3.4rem);
	background: red;
}
