{% extends 'layouts/layout.twig' %}
{% block content %}
	<main class="article"
		v-barba="container"
		v-barba-namespace="page"
		v-scroll="main"
		data-ancestor="{{ ancestor_id }}"
		data-id="{{ id }}">
		<h1 v-font="title_1">
			article
		</h1>
		<pre>
			{{ dump(post) }}
			{{ dump(fields) }}
		</pre>
	</main>
{% endblock %}
