// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

:root {
	--input_height: 4.8rem;
	--input_padding: 2rem;
	--input_color: var(--text);
	--input_background: var(--white);
	--input_border: var(--text);
	--input_border_width: 2px;
	--input_hover_color: var(--text);
	--input_hover_background: var(--white);
	--input_hover_border: var(--text);
}

.input {
	@include input-field;

	// [v-preset="red"] {
	// }
}
