{# Vars #}

{% def class = '' %}
{% def name = '' %}

{# Template #}

<div class="searchbar {{ class }}">
	{% embed 'atoms/input'
		with {
			class: 'input',
			name: name
		}
	%}
		{% block after %}
			{% include 'atoms/icon-button' with {
				class: 'submit',
				type: 'submit',
				icon: 'defaults/arrow-right',
				size: 'input'
			} %}
		{% endblock %}
	{% endembed %}
</div>
