// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.file_upload {
	display: flex;
	flex-direction: column;
}

.label {
	@include input-label;
}

.zone {
	position: relative;
}

.upload {
	position: absolute;
	inset: 0;
	z-index: -1;
	pointer-events: none;
}

.items {
	display: flex;
	// flex-direction: column;
	align-items: start;
	gap: 0.5rem;
	margin-top: 1rem;
	flex-wrap: wrap;

	&[aria-hidden="true"] {
		display: none;
	}
}

.item {
	height: 3.6rem;
	padding-left: 1.6rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background: rgb(var(--black));
	color: rgb(var(--white));
	border-radius: 2rem;
}

.remove {
	display: flex;
	--icon_size: 2rem;
	--icon_fill: var(--white);
}
