// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.reader {
	padding-top: var(--spacing_default);
	padding-bottom: var(--spacing_default);
}

.title {
	margin-bottom: var(--spacing_default);
}

.text [v-letter] {
	transition: 0.1s var(--ease) color;
	&[inert] {
		color: rgb(var(--grey600));
	}
}
