{# Vars #}

{% def class = '' %}
{% def margin = '' %}
{% def padding = '' %}

{# Template #}

<div class="template {{ class }}"
	{{ attr('v-margin', margin) }}
	{{ attr('v-padding', padding) }}>
	{#  #}
</div>
