{# Vars #}

{% def items = [] %}

{# Template #}

<div class="menu" inert>
	<div class="top">
		<div class="items">
			{% for item in items %}
				<a href="{{ item.url }}" class="item">{{ item.title }}</a>
			{% endfor %}
		</div>

		{% include 'atoms/button' with urls.contact|merge({
			icon: 'icons/arrow-right-up'
		}) %}
	</div>

	<div class="bottom">
		<div v-scroll>
			<ul class="anchors"></ul>
		</div>
	</div>
</div>
