{# Vars #}

{% def class = '' %}
{% def icon = 'social/twitter' %}
{% def preset = false %}

{# Template #}

<div class="icon {{ class }}" {{ style(style) }} {{ attr('v-preset', preset) }}>
	{{ svg('assets/svgs/' ~ icon ~ '.svg') }}
</div>
