{# Vars #}

{% def class = '' %}
{% def icon = 'social/twitter' %}
{% def background = null %}
{% def fill = null %}

{# Template #}

<div class="icon {{ class }}"
	{{ attr('v-background', background) }}
	{{ attr('v-fill', fill) }}>
	{{ svg('assets/svgs/' ~ icon ~ '.svg') }}
</div>
