{# Vars #}

{% def class = '' %}

{# Template #}

<div class="popin" aria-hidden="true">
	<button class="close">{% include 'atoms/close' %}</button>

	<div class="content" v-scroll="content">
		{#  #}
	</div>
</div>
