// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.popin {
	position: fixed;
	z-index: 210;
	inset: 0;

	&[aria-hidden="true"] {
		pointer-events: none;
		visibility: hidden;
	}

	.close {
		position: absolute;
		top: 0rem;
		z-index: 100;
	}

	.content {
		max-height: 100%;
	}
}
