{# Vars #}

{% def class = '' %}
{% def post = [] %}
{% def icon = '' %}
{% def title = '' %}
{% def subtitle = '' %}
{% def link_primary = [] %}
{% def link_secondary = [] %}

{# Template #}

<section class="hero {{ class }}">
	<div v-flux="medium" class="flux">
		{# <div class="top">
			{% include 'atoms/icon' with {
				icon: icon,
				background: 'grey800'
			} %}
			<span v-font="title_4">{{ post.title|strip }}</span>
		</div> #}
		<h1 class="title" v-font="title_1">
			{{ title|strip }}
		</h1>
		<p class="subtitle" v-font="body_1">
			{{ subtitle|strip }}
		</p>

		{% if link_primary or link_secondary %}
			{% include 'modules/buttons' with {
				class: 'buttons',
				primary: link_primary,
				secondary: link_secondary
			} %}
		{% endif %}
	</div>
</section>
