{# Vars #}

{% def class = '' %}
{% def action = '' %}

{# Template #}

<div class="form">
	<form class="fields" action="">
		{% block content %}

		{% endblock %}
	</form>

	<div class="success">
		<p>
			Merci
		</p>
	</div>
	<div class="error">
		<p>
			Une erreur s'est produite, veuillez reéssayer plus tard
		</p>
	</div>
</div>
