// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.spinner {
	@include rect(var(--icon_size));
	display: flex;
	align-items: center;
	justify-content: center;

	&-circle {
		@include rect(17px);
		border: 3px solid #fff;
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotate 1s linear infinite;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
