{# Vars #}

{% def class = '' %}
{% def items = [] %}

{# Template #}

<div class="anchors">
	<div class="items">
		{% for item in items %}
			<button class="item" v-font="label_1" data-target="{{ item|slugify }}">
				{{ item }}
			</button>
		{% endfor %}
	</div>
</div>
