{% extends 'layouts/layout.twig' %}
{% block content %}
	<main class="error"
		v-barba="container"
		v-barba-namespace="page"
		v-scroll="main">
		<h1>
			404
		</h1>
		<p>
			Page not found
		</p>
	</main>
{% endblock %}
