{# Vars #}

{% def class = '' %}
{% def rgpd_text = '' %}
{% def email = '' %}

{# Template #}

<section class="contact_form">
	<form class="fields">
		<div class="row">
			{% include 'atoms/input' with {
				label: 'Entreprise',
				name: 'company',
				placeholder: 'Entreprise'
			} %}
		</div>
		<div class="row">
			{% include 'atoms/input' with {
				label: 'Nom',
				name: 'lastname',
				placeholder: 'Nom',
				is_required: true
			} %}
			{% include 'atoms/input' with {
				label: 'Prénom',
				name: 'firstname',
				placeholder: 'Prénom',
				is_required: true
			} %}
		</div>
		<div class="row">
			{% include 'atoms/input' with {
				label: 'Téléphone',
				name: 'phone',
				placeholder: '+33 Tél',
				type: 'tel',
				is_required: true
			} %}
			{% include 'atoms/input' with {
				label: 'Nom',
				name: 'email',
				type: 'email',
				placeholder: 'Email',
				is_required: true
			} %}
		</div>
		<div class="row">
			{% include 'atoms/textarea' with {
				label: 'Message',
				placeholder: 'Message',
				name: 'message',
				is_required: true
			} %}
		</div>
		<div class="row">
			{% include 'atoms/checkbox' with {
				name: 'gdpr',
				label: rgpd_text,
				is_required: true
			} %}
		</div>
		<input type="text" style="display: none;" name="birthdate" />

		<div class="bottom">
			<div>
				<span class="message" v-font="body_3" inert>
					{{ 'Veuillez remplir le champs manquants'|translate }}
				</span>
			</div>
			{% include 'atoms/button' with {
				title: 'submit',
				type: 'submit'
			} %}
		</div>
	</form>
</section>
