{# Vars #}

{% def class = '' %}
{% def links = [] %}

{# Template #}

<div class="social_links {{ class }}">
	{% for link in links %}
		{% if link.platform %}
			<a href="{{ link.url }}">
				{% include 'atoms/icon' with {
					icon: 'social/' ~ link.platform.value
				} %}
			</a>
		{% endif %}
	{% endfor %}
</div>
