{# Vars #}

{% def class = '' %}
{% def title = '' %}
{% def link_primary = '' %}
{% def link_secondary = '' %}

{# Template #}

<div class="cta">
	<div v-flux="default" class="flux">
		<h2 class="title" v-font="title_1" v-anim="text">
			{{ title|strip }}
		</h2>
		{% include 'modules/buttons' with {
			class: 'buttons',
			primary: link_primary,
			secondary: link_secondary
		} %}
	</div>
</div>
