// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.image {
	display: block;
	position: relative;

	.container {
		display: block;
	}

	&[fit="cover"] .source,
	&[fit="contain"] .source,
	&[fit="cover"] .container,
	&[fit="contain"] .container {
		inset: 0;
		position: absolute;
		height: 100%;
	}

	&[fit="cover"] .source {
		object-fit: cover;
	}

	&[fit="contain"] .source {
		object-fit: contain;
	}

	&[is-lazy="true"] .source {
		@include transition(var(--timing), var(--ease), opacity);
	}

	&[loaded="false"] .source {
		opacity: 0;
	}
}
