@import "../../core/imports.scss";

.image {
	display: block;
	position: relative;

	.container {
		display: block;
	}

	&[fit="cover"] .source,
	&[fit="contain"] .source,
	&[fit="cover"] .container,
	&[fit="contain"] .container {
		inset: 0;
		position: absolute;
		height: 100%;
	}

	&[fit="cover"] .source {
		object-fit: cover;
	}

	&[fit="contain"] .source {
		object-fit: contain;
	}

	&[is-lazy="true"] .source {
		@include transition(var(--timing), var(--ease), opacity);
	}

	&[loaded="false"] .source {
		opacity: 0;
	}
}
