// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.hero {
	padding-top: var(--spacing_default);
	padding-bottom: var(--spacing_default);
}

.flux {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.top {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.title {
	margin-top: 1.6rem;
}

.subtitle {
	margin-top: var(--spacing_small);
	color: rgb(var(--grey300));
}

.buttons {
	margin-top: 3.2rem;
}
