{# Vars #}

{% def class = '' %}

{# Template #}

<section class="form_fields {{ class }}">
	<div v-flux="default">
		{% embed 'modules/form' with {} %}
			{% block content %}
				<div class="form" v-margin="top_default">
					<fieldset>
						{% include 'atoms/file-upload' with {
							label: 'Single file upload'
						} %}

						{% include 'atoms/file-upload' with {
							label: 'Multiple file upload',
							multiple: true
						} %}
					</fieldset>
					<fieldset>
						{% include 'atoms/input' with {
							label: 'Email',
							type: 'email',
							preset: 'input:large',
							placeholder: 'placeholder'
						} %}
						{% include 'atoms/input' with {
							label: 'Email',
							type: 'email',
							placeholder: 'placeholder',
							is_disabled: true
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/password' with {
							label: 'Password',
							value: 'value'
						} %}
						{% include 'atoms/password' with {
							label: 'Password',
							value: 'value',
							is_disabled: true
						} %}
					</fieldset>

					<fieldset>
						{% set options = [] %}
						{% for i in 0..100 %}
							{% set options =
								options|merge(
									[
										{
											value: i,
											label: 'label ' ~ i
										}
									]
								)
							%}
						{% endfor %}
						{% include 'atoms/select' with {
							label: 'select',
							placeholder: 'placeholder text',
							options: options
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/textarea' with {
							label: 'Textarea'
						} %}

						{% include 'atoms/textarea' with {
							label: 'Textarea',
							is_disabled: true
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/radio' with {
							label: 'radio',
							name: 'radio'
						} %}
						{% include 'atoms/radio' with {
							label: 'radio',
							name: 'radio',
							is_checked: true
						} %}
						{% include 'atoms/radio' with {
							label: 'radio',
							name: '',
							is_disabled: true
						} %}
						{% include 'atoms/radio' with {
							label: 'radio',
							name: '',
							is_checked: true,
							is_disabled: true
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/range' with {} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/checkbox' with {
							label: 'checkbox',
							name: 'checkbox'
						} %}
						{% include 'atoms/checkbox' with {
							label: 'checkbox',
							name: 'checkbox',
							is_checked: true
						} %}
						{% include 'atoms/checkbox' with {
							label: 'checkbox',
							name: '',
							is_disabled: true
						} %}
						{% include 'atoms/checkbox' with {
							label: 'checkbox',
							name: '',
							is_checked: true,
							is_disabled: true
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/button' with {
							title: 'button',
							preset: 'button:red'
						} only %}
						{% include 'atoms/button' with {
							title: 'button',
							preset: 'button:large'
						} only %}
						{% include 'atoms/button' with {
							title: 'button',
							preset: 'button:large',
							is_disabled: true
						} only %}
					</fieldset>

					<fieldset>
						{% include 'atoms/button' with {
							title: 'button'
						} only %}
						{% include 'atoms/button' with {
							title: 'button',
							is_disabled: 'true'
						} only %}
					</fieldset>

					<fieldset>
						{% include 'atoms/button' with {
							title: 'button',
							preset: 'button:small'
						} only %}
						{% include 'atoms/button' with {
							title: 'button',
							preset: 'button:small',
							is_disabled: true
						} only %}
					</fieldset>

					<fieldset>
						{% include 'atoms/quantity' with {
							label: 'quantity'
						} %}
					</fieldset>

					<fieldset>
						{% include 'atoms/icon-button' %}
					</fieldset>

					<fieldset>
						{% include 'atoms/icon' %}
					</fieldset>
				</div>
			{% endblock %}
		{% endembed %}
	</div>
</section>
