<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<meta charset="UTF-8"/>
	
	<title>{$head['title']}</title>
	
	<meta name="description" content="{$head['description'] ?? ''}"/>
	<meta name="robots" content="{$head['description'] ?? ''}"/>
	<meta name="og:local" content="{$head['og_local'] ?? ''}"/>
	<meta name="og:type" content="{$head['og_type']}"/>
	<meta name="og:title" content="{$head['og_title']}"/>
	<meta name="og:url" content="{$head['og_url']}"/>
	<meta name="og:site_name" content="{$head['og_site_name']}"/>
	<meta name="article:modified_time" content="{$head['article_modified_time']}"/>
	
	{foreach $head['styles'] as $style}
		<link rel="stylesheet" href="{$style}">
	{/foreach}
	
</head>
<body>

<div data-page>