@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:math";

// No CSS output!
// SCSS Variables only

@function strip-unit($num) {
	@return math.div($num, ($num * 0 + 1));
}

@mixin aspect-ratio($ratio: 1) {
	&::after {
		content: "";
		display: block;
		padding-bottom: calc(1 / #{$ratio} * 100%);
		pointer-events: none;
	}
}

// Use `inset: 0;` instead

// @mixin fill($space: 0) {
// 	position: absolute;
// 	top: $space;
// 	left: $space;
// 	bottom: $space;
// 	right: $space;

// 	@if $space != 0 {
// 		width: calc(100% - #{$space * 2});
// 		height: calc(100% - #{$space * 2});
// 	} @else {
// 		width: 100%;
// 		height: 100%;
// 	}
// }

@function def($a, $b: null) {
	@if ($b and meta.type-of($b) == string and string.index($b, "--") == 1) {
		$b: var($b);
	}

	@if (meta.type-of($a) == string and string.index($a, "--") == 1) {
		@if $b {
			@return var($a, $b);
		} @else {
			@return var($a);
		}
	}

	@return $a;
}

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
	@font-face {
		font-family: string.quote($font-name);
		font-display: swap;
		src: url($file-name + ".eot");
		src:
			url($file-name + ".eot?#iefix") format("embedded-opentype"),
			url($file-name + ".woff2") format("woff2"),
			url($file-name + ".woff") format("woff"),
			url($file-name + ".ttf") format("truetype"),
			url($file-name + ".svg##{$font-name}") format("svg");
		font-weight: $weight;
		font-style: $style;
	}
}

@function str-replace($string, $search, $replace: "") {
	@if type-of($string) != string {
		@return $string;
	}
	$index: string.index($string, $search);
	@if $index {
		@return string.slice($string, 1, $index - 1) + $replace +
			str-replace(
				string.slice($string, $index + string.length($search)),
				$search,
				$replace
			);
	}
	@return $string;
}

@function color-rgb($color) {
	@return color.red($color) + ", " + color.green($color) + ", " + color.blue($color);
}

@mixin transition($timing: var(--timing), $easing: var(--ease), $properties...) {
	@if list.length($properties) == 0 {
		$properties: transform, opacity, visibility;
	}
	@if list.length($properties) == 1 {
		transition: $properties $timing $easing;
		will-change: $properties;
	} @else {
		transition: none $timing $easing;
		transition-property: #{$properties};
		will-change: $properties;
	}
}

@mixin underline($width: 100%, $height: 2px, $offset: 1em, $color: currentColor) {
	background-image: linear-gradient(90deg, $color, $color);
	background-size: $width $height;
	background-repeat: no-repeat;
	background-position: left $offset;
}

@mixin rect($width, $height: $width) {
	min-width: $width;
	min-height: $height;
	max-width: $width;
	max-height: $height;
}

@mixin vertical-align($align: flex-start) {
	display: flex;
	flex-direction: column;
	justify-content: $align;
	text-align: center;
	min-height: 100%;
}

@mixin svg-fill($color: currentColor, $replace: false) {
	@if $replace {
		*[fill="#{$replace}"] {
			fill: $color;
		}
	} @else {
		*[fill]:not([fill="none"]) {
			fill: $color;
		}
	}
}

@mixin svg-stroke($color: currentColor, $replace: false) {
	@if $replace {
		*[stroke="#{$replace}"] {
			stroke: $color;
		}
	} @else {
		*[stroke]:not([stroke="none"]) {
			stroke: $color;
		}
	}
}

// Set to number of elements, will generate classes for each

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
	@font-face {
		font-family: string.quote($font-name);
		font-display: swap;
		src: url($file-name + ".eot");
		src:
			url($file-name + ".eot?#iefix") format("embedded-opentype"),
			url($file-name + ".woff2") format("woff2"),
			url($file-name + ".woff") format("woff"),
			url($file-name + ".ttf") format("truetype"),
			url($file-name + ".svg##{$font-name}") format("svg");
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin progress-bar($height, $background: black, $foreground: white) {
	&[value]::-webkit-progress-bar {
		background: linear-gradient(
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) calc(50% - $height / 2),
			$background calc(50% - $height / 2),
			$background calc(50% - $height / 2),
			$background calc(50% + $height / 2),
			rgba(0, 0, 0, 0) calc(50% + $height / 2),
			rgba(0, 0, 0, 0) 100%
		);
	}

	&[value]::-webkit-progress-value {
		background: linear-gradient(
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) calc(50% - $height / 2),
			$foreground calc(50% - $height / 2),
			$foreground calc(50% + $height / 2),
			rgba(0, 0, 0, 0) calc(50% + $height / 2),
			rgba(0, 0, 0, 0) 100%
		);
	}
}

@mixin clip() {
	mask: linear-gradient(black, black);
}
