{# Vars #}

{% def class = '' %}
{% def form = [] %}

{# Template #}

<div class="contact_form">
	<div v-flux="default" class="cover">
		{# <h2 v-font="title_1" class="title">
			{{ post.title|strip }}
		</h2>
		<p v-font="body_1">
			{{ fields.hero.intro|strip }}
		</p> #}
	</div>

	<div v-flux="default">
		{% include 'modules/contact-form' with form %}
	</div>
</div>
