@import "../../core/imports.scss";

.password {
	--icon_fill: var(--black);
	--icon_stroke: var(--black);

	.toggle {
		display: flex;
		margin-right: var(--input_padding);
	}

	.icon[aria-hidden="true"] {
		display: none;
	}
}
