// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.home_hero {
}

.flux {
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 2rem;
	font-size: 29.6rem;
	line-height: 0.81;
	font-weight: 500;
	margin-bottom: 12.8rem;

	@media (max-width: $phone) {
		font-size: 11rem;
		margin-bottom: 2.4rem;
	}

	[v-letter] {
		display: inline-flex;
	}
}

.text {
	margin-bottom: var(--spacing_small);
}

.button {
	align-self: flex-end;
}
