// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.textarea {
	@include input-field;

	.field {
		min-height: calc(var(--input_height) * 3);
	}

	.area {
		padding-top: calc(var(--input_height) / 2 - 0.7em);
		padding-bottom: calc(var(--input_height) / 2 - 0.7em);
		flex-shrink: 1;
		width: 100%;
		background: transparent;
		resize: none;
		overflow: hidden;
	}
}
