{# Vars #}

{% def items = [] %}

{# Template #}

<div class="header">
	<div class="top">
		<div class="items">
			{% for item in items %}
				<a href="{{ item.url }}" class="item">{{ item.title }}</a>
			{% endfor %}
		</div>
	</div>
</div>
