// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.header {
	position: absolute;
	left: 2.4rem;
	top: 7rem;
	background: rgb(var(--black));
	bottom: 2.4rem;
	width: calc(34.4rem - 1px);
	z-index: 10;
}
