// Core

@use "../../core/responsive.scss" as *;
@use "../../core/flux.scss" as *;
@use "../../core/columns.scss" as *;
@use "../../core/spacings.scss" as *;
@use "../../core/utils.scss" as *;

// Theme

@use "../../theme/breakpoints.scss" as *;
@use "../../theme/variables.scss" as *;
@use "../../theme/mixins.scss" as *;
@use "../../theme/typography.scss" as *;

.header {
	position: absolute;
	left: 2.4rem;
	top: 7rem;
	background: rgb(var(--black));
	bottom: 2.4rem;
	width: calc(34.4rem - 1px);
	z-index: 60;
	border-right: 1px solid rgb(var(--white));
	display: flex;
	flex-direction: column;

	@media (max-width: $tablet) {
		display: none;
	}
}

.top {
	padding: 2.4rem;
}

.bottom {
	position: relative;
	margin-top: 7rem;
	flex-grow: 1;
}

.anchors {
	padding: 2.4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.anchor {
	@include label-1(null);

	&:not(:hover):not([aria-current="true"]) {
		color: rgb(var(--grey600));
	}

	a {
		display: flex;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}
}

.items {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	margin-bottom: 3.2rem;
}

.item {
	font-size: 2.4rem;
	font-weight: 600;
	color: rgba(var(--grey600));

	&:hover {
		color: rgba(var(--white));
	}
}
